#home {
  .segment {
    padding: 2.5rem;
    background-color: $background !important;
    .bookshelf-list {
      margin-top: 2rem;
    }
    .button {
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  #home {
    .segment {
      padding: 1.5rem;
    }
    .header {
      font-size: 16px !important;
    }
  }
}