.book-img {
  width: 200px !important;
  height: 300px !important;
  cursor: pointer;
}

.book-img-large {
  width: 400px !important;
  height: 400px !important;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .book-img-large {
    width: auto !important;
    height: auto !important;
  }
}